/* .LoginPage-Container {
    height: 100vh;
    /* background: linear-gradient(60deg, white 70%, maroon 30%); 
    background-image: linear-gradient(200deg, purple, orange);
} */

/* .Login-Page {
    padding-top: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .login-logo {
    width: 40%;
    height: auto;
} */

/* h2 {
    text-align: center;
   
} */


/* .Login-Form {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
} */


/* .Login-Form input {
    width: 250px;
    height: 30px;
 
} */

/* .login-button {
    width: 250px;
    height: 30px;
    background: black;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
 
} */